.about{
    background: #fff;
    width: 100%;
    height: auto;
    opacity: 0;
    margin-top: 150px;
    transition: all 0.5s ease;
}


.page_container {
  max-width: 960px;
  margin: 150px auto;
}

