.contact {
  width: 100%;
  background-color: #f4f4f4; }

.contact-base {
  width: 1020px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }

.contact-me {
  width: 500px;
  height: 100px;
  margin: 0 auto; }

