.home-font-big{
    font-size: 40px;
    font-family: 'Ultra', serif;
    color: #143952;
}

.home-font{
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}

.home-text span,.slogn{
    font-size: 40px;
    font-family: 'Ultra', serif;
    color:#143952;
}
