@charset "UTF-8";
.home {
  background-color: #b2d4e5;
  width: 100%; }

.home-font-big {
  font-size: 40px;
  font-family: 'Ultra', serif;
  color: #143952; }

.home-font {
  font-size: 25px;
  font-family: 'Poiret One', cursive; }

.text-html {
  position: relative;
  top: 60px;
  left: 95px; }

.text-css {
  position: relative;
  top: 99px;
  left: -40px; }

.text-javascript {
  position: relative;
  top: 137px;
  left: -27px; }

.text-front {
  position: relative;
  top: 175px;
  left: 101px; }

.text-web {
  position: relative;
  top: 170px;
  left: 125px; }

.text-jquery {
  position: relative;
  top: 27px;
  left: 22px; }

.text-sass {
  position: relative;
  top: 130px;
  left: -140px; }

.text-animate {
  position: relative;
  left: -58px;
  top: -10px; }

.text-git {
  position: relative;
  top: 42px;
  left: -135px; }

.big-cloud {
  background-image: url("../image/cloud-big.png");
  background-repeat: no-repeat;
  width: 510px;
  height: 335px;
  position: relative; }

.med-cloud {
  background-image: url("../image/cloud-med.png");
  background-repeat: no-repeat;
  width: 182px;
  height: 132px;
  position: relative;
  left: 37%;
  top: -50px; }

.sma-cloud {
  background-image: url("../image/cloud-small.png");
  background-repeat: no-repeat;
  width: 126px;
  height: 80px;
  position: relative;
  left: 16%;
  top: -47px; }

.arrow-down {
  margin: 0 auto;
  width: 68px;
  position: relative;
  top: 55px;
  cursor: pointer;
  -moz-animation: bounce 1200ms ease;
  -o-animation: bounce 1200ms ease;
  -webkit-animation: bounce 1200ms ease;
  animation: bounce 1200ms ease;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.home-text {
  position: absolute;
  top: 74%;
  left: 42%; }

.home-text span, .slogn {
  font-size: 40px;
  font-family: 'Ultra', serif;
  color: #143952; }

.slogn {
  position: absolute;
  top: 230px;
  left: 970px;
  text-align: left; }

.move {
  margin-left: 16%;
  -moz-animation: myanimate 5s;
  /* Firefox */
  -webkit-animation: myanimate 5s;
  /* Safari 和 Chrome */
  -o-animation: myanimate 5s;
  animation: myanimate 5s;
  /* Opera */
  animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-out,linear;
  -o-animation-timing-function: ease-out,linear;
  -webkit-animation-timing-function: ease-out,linear;
  animation-timing-function: ease-out,linear; }

.move2 {
  -moz-animation: myanimate2 5s;
  /* Firefox */
  -webkit-animation: myanimate2 5s;
  /* Safari 和 Chrome */
  -o-animation: myanimate2 5s;
  animation: myanimate2 5s;
  /* Opera */
  animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-out,linear;
  -o-animation-timing-function: ease-out,linear;
  -webkit-animation-timing-function: ease-out,linear;
  animation-timing-function: ease-out,linear; }

@-moz-keyframes myanimate {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  50% {
    transform: rotate(180deg) translateX(5px) rotate(-180deg); }
  100% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); } }

@-webkit-keyframes myanimate {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  50% {
    transform: rotate(180deg) translateX(5px) rotate(-180deg); }
  100% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); } }

@keyframes myanimate {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  50% {
    transform: rotate(180deg) translateX(5px) rotate(-180deg); }
  100% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); } }

@keyframes myanimate2 {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  50% {
    transform: rotate(-180deg) translateX(-5px) rotate(180deg); }
  100% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); } }

/* Bounce Key Frames */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(30%);
    transform: translateY(30%); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -moz-transform: translateY(30%);
    transform: translateY(30%); }
  50% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -moz-transform: translateY(25%);
    transform: translateY(25%); }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(30%); }
  50% {
    transform: translateY(0%); }
  75% {
    transform: translateY(25%); }
  100% {
    transform: translateY(0%); } }

.wind {
  position: relative;
  top: -446px;
  left: 1000px; }

.wmd1 {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  position: absolute;
  top: 120px;
  left: 200px;
  perspective: 1000px; }

.blades {
  width: 350px;
  height: 350px;
  left: 10%;
  top: 10%;
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  margin-top: -30px;
  margin-left: 50px;
  animation: spin 6s linear infinite; }

.blade1 {
  background: white;
  position: absolute;
  width: 41px;
  height: 139px;
  top: -10px;
  left: 150.5px;
  transform: rotate(0deg);
  display: inline-block;
  background: linear-gradient(135deg, transparent 20px, white 0), linear-gradient(225deg, transparent 20px, white 0), linear-gradient(315deg, transparent 20px, white 0), linear-gradient(45deg, transparent 20px, white 0);
  background-position: top left, top right, bottom right, bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat; }

.blade2 {
  background: white;
  position: absolute;
  width: 41px;
  height: 139px;
  top: 105.5px;
  left: 41px;
  transform: rotate(-90deg);
  display: inline-block;
  background: linear-gradient(135deg, transparent 20px, white 0), linear-gradient(225deg, transparent 20px, white 0), linear-gradient(315deg, transparent 20px, white 0), linear-gradient(45deg, transparent 20px, white 0);
  background-position: top left, top right, bottom right, bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat; }

.blade3 {
  background: white;
  position: absolute;
  width: 41px;
  height: 139px;
  top: 105.5px;
  right: 41px;
  transform: rotate(-270deg);
  display: inline-block;
  background: linear-gradient(135deg, transparent 20px, white 0), linear-gradient(225deg, transparent 20px, white 0), linear-gradient(315deg, transparent 20px, white 0), linear-gradient(45deg, transparent 20px, white 0);
  background-position: top left, top right, bottom right, bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat; }

.blade4 {
  background: white;
  position: absolute;
  width: 41px;
  height: 139px;
  bottom: -10px;
  left: 150.5px;
  transform: rotate(180deg);
  display: inline-block;
  background: linear-gradient(135deg, transparent 20px, white 0), linear-gradient(225deg, transparent 20px, white 0), linear-gradient(315deg, transparent 20px, white 0), linear-gradient(45deg, transparent 20px, white 0);
  background-position: top left, top right, bottom right, bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat; }

.vane1 {
  width: 1px;
  height: 350px;
  left: 175px;
  background: white;
  position: absolute;
  transform: rotate(90deg); }

.vane2 {
  width: 1px;
  height: 350px;
  left: 171.5px;
  background: white;
  position: absolute;
  transform: rotate(180deg); }

.wind_base .bottom_base {
  position: absolute;
  width: 90px;
  height: 100px;
  left: 180px;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  border-bottom: 380px solid white;
  opacity: .8;
  z-index: -1;
  top: 152.5px; }

.bottom_dot {
  position: absolute;
  top: 180px;
  left: -30px; }

.bottom_dot li {
  width: 10px;
  height: 10px;
  background: white;
  padding: 2px;
  display: block;
  margin: 30px;
  box-shadow: inset 0px -2px 0px lightgray; }

.bottom_dot li:nth-child(2) {
  position: absolute;
  top: -45px;
  left: 20px; }

.bottom_dot li:nth-child(1) {
  position: absolute;
  top: 35px;
  left: 50px; }

.bottom_dot li:nth-child(3) {
  position: absolute;
  top: 75px;
  left: 50px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

