@charset "UTF-8";
.home {
  background: #9fcadf  50% 0 no-repeat fixed;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#9fcadf, #4d626c) 50% 0 no-repeat fixed;
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#9fcadf, #4d626c) 50% 0 no-repeat fixed;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#9fcadf, #4d626c) 50% 0 no-repeat fixed;
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#9fcadf, #4d626c) 50% 0 no-repeat fixed;
  /* Standard syntax */
  width: 100%;
  height: auto; }

.home-font-big {
  font-size: 40px;
  font-family: 'Architects Daughter', cursive;
  color: #143952; }

.home-font {
  font-size: 25px;
  font-family: 'Poiret One', cursive; }

.text-html {
  position: relative;
  top: 60px;
  left: 143px; }

.text-css {
  position: relative;
  top: 99px;
  left: -20px; }

.text-javascript {
  position: relative;
  top: 178px;
  left: 45px; }

.text-front {
  position: relative;
  top: 131px;
  left: -41px; }

.text-web {
  position: relative;
  top: 170px;
  left: 125px; }

.text-jquery {
  position: relative;
  top: 65px;
  left: 48px; }

.text-sass {
  position: relative;
  top: 103px;
  left: -100px; }

.text-animate {
  position: relative;
  top: -10px; }

.text-git {
  position: relative;
  top: 42px;
  left: -103px; }

.big-cloud {
  background-image: url("../image/home/cloud-big.png");
  background-repeat: no-repeat;
  width: 510px;
  height: 335px;
  position: relative; }

.med-cloud {
  background-image: url("../image/home/cloud-med.png");
  background-repeat: no-repeat;
  width: 182px;
  height: 132px;
  position: relative;
  left: 37%;
  top: -50px; }

.sma-cloud {
  background-image: url("../image/home/cloud-small.png");
  background-repeat: no-repeat;
  width: 126px;
  height: 80px;
  position: relative;
  left: 16%;
  top: -47px; }

.arrow-down {
  margin: 0 auto;
  width: 68px;
  position: relative;
  top: 55px;
  cursor: pointer;
  -moz-animation: bounce 1200ms ease;
  -o-animation: bounce 1200ms ease;
  -webkit-animation: bounce 1200ms ease;
  animation: bounce 1200ms ease;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.home-text {
  position: absolute;
  top: 74%;
  left: 45%; }

.home-text span, .slogn {
  font-size: 40px;
  font-family: 'Architects Daughter', cursive;
  color: #143952; }

.slogn {
  position: absolute;
  top: 230px;
  left: 970px;
  text-align: left; }

.move {
  margin-left: 16%;
  -moz-animation: myanimate 5s;
  /* Firefox */
  -webkit-animation: myanimate 5s;
  /* Safari 和 Chrome */
  -o-animation: myanimate 5s;
  animation: myanimate 5s;
  /* Opera */
  animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-out,linear;
  -o-animation-timing-function: ease-out,linear;
  -webkit-animation-timing-function: ease-out,linear;
  animation-timing-function: ease-out,linear; }

.move2 {
  -moz-animation: myanimate2 5s;
  /* Firefox */
  -webkit-animation: myanimate2 5s;
  /* Safari 和 Chrome */
  -o-animation: myanimate2 5s;
  animation: myanimate2 5s;
  /* Opera */
  animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-out,linear;
  -o-animation-timing-function: ease-out,linear;
  -webkit-animation-timing-function: ease-out,linear;
  animation-timing-function: ease-out,linear; }

@-moz-keyframes myanimate {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  50% {
    transform: rotate(180deg) translateX(5px) rotate(-180deg); }
  100% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); } }

@-webkit-keyframes myanimate {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  50% {
    transform: rotate(180deg) translateX(5px) rotate(-180deg); }
  100% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); } }

@keyframes myanimate {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  50% {
    transform: rotate(180deg) translateX(5px) rotate(-180deg); }
  100% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); } }

@keyframes myanimate2 {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); }
  50% {
    transform: rotate(-180deg) translateX(-5px) rotate(180deg); }
  100% {
    transform: rotate(0deg) translateX(5px) rotate(0deg); } }

/* Bounce Key Frames */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(30%);
    transform: translateY(30%); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -moz-transform: translateY(30%);
    transform: translateY(30%); }
  50% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -moz-transform: translateY(25%);
    transform: translateY(25%); }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(30%); }
  50% {
    transform: translateY(0%); }
  75% {
    transform: translateY(25%); }
  100% {
    transform: translateY(0%); } }

.windmill {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 100px auto;
  left: 70%;
  top: 59%; }

.stick {
  width: 6px;
  height: 200px;
  position: absolute;
  background: #a86;
  top: 50px;
  left: 47px; }

/*.stick:before{
  content:"";
  position:absolute;
  width:50px;height:10px;
  top:195px;left:-22px;
  background:#ddd;
  border-radius:50%;
  z-index:-1;
}*/
.wind {
  width: 100px;
  height: 100px;
  position: absolute;
  -moz-animation: rotates 2s infinite linear;
  -webkit-animation: rotates 2s infinite linear;
  -o-animation: rotates 2s infinite linear;
  animation: rotates 2s infinite linear; }

.wind:after {
  content: "";
  position: absolute;
  top: 45px;
  left: 45px;
  width: 10px;
  height: 10px;
  background: #eee;
  border-radius: 50%; }

.wind1, .wind2, .wind3, .wind4 {
  width: 90px;
  height: 40px;
  position: absolute;
  margin: 13px 0 0 -41px;
  background: #cef;
  border-bottom-left-radius: 40% 100%; }

.wind1:after, .wind2:after, .wind3:after, .wind4:after {
  content: "";
  position: absolute;
  right: 0px;
  width: 65px;
  height: 40px; }

.wind1 {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f39c12; }

.wind1:after {
  background-image: radial-gradient(circle at 0px 0px, rgba(241, 196, 15, 0) 40px, #f1c40f 41px); }

.wind2 {
  left: 63px;
  top: -28px;
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  background: #e74c3c; }

.wind2:after {
  background-image: radial-gradient(circle at 0px 0px, rgba(255, 4, 4, 0) 40px, #d33 41px); }

.wind3 {
  left: 92px;
  top: 35px;
  -ms-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  background: #27ae60; }

.wind3:after {
  background-image: radial-gradient(circle at 0px 0px, rgba(241, 196, 15, 0) 40px, #2ecc71 41px); }

.wind4 {
  left: 29px;
  top: 63px;
  -ms-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  background: #2980b9; }

.wind4:after {
  background-image: radial-gradient(circle at 0px 0px, rgba(52, 152, 219, 0) 40px, #3498db 41px); }

@keyframes rotates {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }

@-moz-keyframes rotates {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-360deg); } }

@-webkit-keyframes rotates {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg); } }

@-o-keyframes rotates {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(-360deg); } }

