.base{
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.home{
    background-color: #b2d4e5;
    width: 100%;   
}

.about{
    background-color: #fff; 
    width: 100%;
    height: auto;
}

.skill{
    background-color: #9fb4c7;
    background-image: url('../image/self2.png');
    width: 100%;
    overflow: hidden;
}
