.base{
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.home{
    background-color: #b2d4e5;
    width: 100%;   
}

.about{
    background: #fff;
    width: 100%;
    height: auto;
    opacity: 0;
    margin-top: 150px;
    transition: all 3s ease;
}



.skill{
    background-color: #9fb4c7;
    width: 100%;
}

.work{
    width: 100%;
    height: auto;
    background: #FFF;
}

.contact{
    width: 100%;
    height: auto;
    background: #f4f4f4;
}

.thanks{
    width: 100%;
    height: auto;
    background: #9fcadf  50% 0 no-repeat fixed; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#9fcadf, #85a7b7)  50% 0 no-repeat fixed;/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9fcadf, #85a7b7)  50% 0 no-repeat fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9fcadf, #85a7b7)  50% 0 no-repeat fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9fcadf, #85a7b7)  50% 0 no-repeat fixed; /* Standard syntax */
}

