nav {
  background-color: #143952; }

.navbar {
  background-color: #143952;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.navbar li {
  float: right;
  display: block;
  color: #FFF;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-align: center;
  margin: 40px 25px;
  text-decoration: none;
  cursor: pointer; }

.gotop {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #143952;
  position: fixed;
  left: 90%;
  top: 90%;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  color: #fff;
  display: none; }

