.skill {
  background-color: #9fb4c7;
  width: 100%;
  overflow: hidden; }

.self-back {
  float: right;
  position: relative;
  top: -654px; }

.clear {
  clear: both; }

.skill-container {
  width: 200px;
  height: auto;
  margin: 0 auto; }

.skill-line {
  height: 650px;
  border-left: 1px solid;
  border-color: #143952;
  border-width: 5px; }

.skill-dot {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50px; }

.dot-positon {
  position: absolute;
  top: 75px;
  left: -10px; }

.dot-positon2 {
  position: absolute;
  top: 517px;
  left: -10px; }

