


.work-position{
    display: inline-block;
    margin: 100px 10px 10px 10px;
    box-sizing: border-box;
    transition: all 3s ease;

}

.big-text{
    font-size: 60px;
    font-family: 'Architects Daughter', cursive;
    color:#143952;  
}

////////////effect
.info h3,p{
    margin-top: 10px;
    margin-bottom: 0;
}

.info h3{
    font-size: 16px;
}

.info p{
    font-size: 10px;
}

.ih-item.square{
    position: relative;
    width: 316px;
    height: 216px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.ih-item.square.effect3{
    overflow: hidden;
    opacity: 0;
}

.ih-item a{
    color: #fff;
    text-decoration: none;
}

.ih-item.square.effect3 .img{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item img{
    width: 100%;
    height: 100%;
   vertical-align: middle;
}
.ih-item.square.effect3.bottom_to_top .info{
    top: auto;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.ih-item.square.effect3 .info{
    height: 65px;
    background: #333333;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.square .info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ih-item.square.effect3 a:hover .info {
  visibility: visible;
  opacity: 1;
}


.ih-item.square.effect3.bottom_to_top a:hover .img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}
.ih-item.square.effect3.bottom_to_top a:hover .info {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item.square.effect3.top_to_bottom .info {
  bottom: auto;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item.square.effect3.top_to_bottom a:hover .img {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.ih-item.square.effect3.top_to_bottom a:hover .info {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}